<h1> Rock, Paper, Scissors! </h1>
<h3> Pick one! </h3>


<div>Rock<img src="http://www.ahristov.com/taller/procgraph/rocks/result0.gif"></div>
<div>Paper<img src="http://images.all-free-download.com/images/graphiclarge/blank_white_paper_cartoon_clip_art_12090.jpg"></div>
<div>Scissors<img src="http://www.clker.com/cliparts/d/b/d/6/11949839942140777322scissors.svg.hi.png"></div>